.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: white;
}
.App .ticket-booking {
  width: 375px;
  height: 667px;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto 100px;
  grid-template-areas: "movie-banner" "seat-booking" "ticket-info";
}
.App .ticket-booking .movie-banner {
  grid-area: movie-banner;
  background-image: url("./assets/goat-fl.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  position: relative;
}
.App .ticket-booking .movie-banner .go-back {
  position: absolute;
  top: 16px;
  left: 16px;
}
.App .ticket-booking .movie-banner .movie-details {
  position: absolute;
  bottom: 16px;
  left: 16px;
  display: flex;
  flex-direction: column;
}
.App .ticket-booking .movie-banner .movie-details .movie-name {
  font-size: 20px;
  color: white;
}
.App .ticket-booking .movie-banner .movie-details .movie-location {
  font-size: 16px;
  color: white;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.App .ticket-booking .seat-booking {
  grid-area: seat-booking;
  background-color: whitesmoke;
  padding: 16px 16px 20px 16px;
}
.App .ticket-booking .seat-booking .seat-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}
.App .ticket-booking .seat-booking .seat-details .seat-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.App .ticket-booking .seat-booking .seat-selection-wrapper {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: 35px 1fr;
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-name-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-name-row .seat-selection-name-column {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94a3b8;
  font-size: 14px;
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 28px;
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-grid .seat-selection-grid-left-side {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-grid .seat-selection-grid-left-side .seat-selection-grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-grid .seat-selection-grid-row-right-side {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-grid .seat-selection-grid-row-right-side .seat-selection-grid-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .seat-selection-grid-container .seat-selection-grid .seat-selection-grid-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .ticket-booking .seat-booking .seat-selection-wrapper .screen {
  height: 50px;
  border: 5px solid #4b5563;
  border-color: transparent transparent #4b5563 transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #94a3b8;
}
.App .ticket-booking .ticket-info {
  grid-area: ticket-info;
  background-color: #f87171;
  display: flex;
  padding: 16px;
  gap: 15px;
}
.App .ticket-booking .ticket-info .ticket-info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.App .ticket-booking .ticket-info .ticket-info-left .total {
  text-transform: uppercase;
  font-weight: bolder;
}
.App .ticket-booking .ticket-info .ticket-info-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.App .ticket-booking .ticket-info .ticket-info-right .ticket-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
.App .ticket-booking .ticket-info .ticket-info-right .next-button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #f87171;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}/*# sourceMappingURL=App.css.map */